{% extends "game/base.html" %}

{% block content %}
<h1>Welcome to {{name}}</h1>
<div class="container shadow-lg p-3 mb-5 bg-dark text-light rounded text-center">
    <div class="row" id="mission_row">
        <div class="col" id="mission_one_column">
            <div>Mission One</div>
            <div id="misson_one_size">
                2
            </div>
        </div>
        <div class="col" id="mission_two_column">
            <div>Mission Two</div>
            <div id="misson_two_size">
                3
            </div>
        </div>
        <div class="col" id="mission_three_column">
            <div>Mission Three</div>
            <div id="misson_three_size">
                2
            </div>
        </div>
        <div class="col" id="mission_four_column">
            <div>Mission Four</div>
            <div id="misson_four_size">
                3
            </div>
        </div>
        <div class="col" id="mission_five_column">
            <div>Mission Five</div>
            <div id="misson_five_size">
                3
            </div>
        </div>
    </div>
    <div class="row">
        <div class = "col">
            <div class="text-left">Vote Track</div>
            <div class ="row" id="vote_track_row">
                <div class="col" id="vote_one_column">1</div>
                <div class="col" id="vote_two_column">2</div>
                <div class="col" id="vote_three_column">3</div>
                <div class="col" id="vote_four_column">4</div>
                <div class="col text-danger" id="vote_five_column">5</div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}